
/* NOTE: reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* NOTE: reset */

/* NOTE: all CSS */
html{
	scroll-behavior: smooth;
}
.gotop{
	width:50px;
	height:50px;
	border-radius: 5px;
	background-color: rgb(66, 75, 87);
	text-align:center;
	bottom:40px;
	right:50px;
	position:fixed;
	opacity: 0;
	pointer-events: none;
	transition: opacity .4s ease-in-out;
}
.gotop:hover{
	bottom:50px;
	transition: all .5s;
}

.gotop img{
	width:30px;
	margin-top:10px;
}
@media only screen and (max-width: 529px) {
	.gotop{
		width:40px;
		height:40px;
	}
	.gotop img{
		margin-top:5px;
	}
}
/* NOTE: body CSS */
body{
  background-color: RGB(255, 255, 255);
}

/* NOTE: navbar container CSS*/
.container-fluid{
  letter-spacing : 2px;
  margin-left: 36vw;
}

/* NOTE: navbar img 위치정렬 */
.pull-left{
  margin-top: 120px;
	margin-left: 50px;
  width: 0px;
}

/* NOTE: navbar img 크기 및 위치 정렬 */
.pull-left img{
	margin-top: 170px;
  margin-left: 7vw;
  width: 500px;
}


/* NOTE: navbar fonts 마진*/
.navbar a {
  margin-bottom: 120px;
  font-size: 18px;
}

.navbar-nva ul{
	margin-left: 100px;
}

/* NOTE: nav bar container */
.container-fluid{
	margin-top: -180px;
	margin-left: 0px;
}

/* NOTE: navbar toggler item (home, ...) */
.nav-item{
	height: 20px;
	text-align: right;
}
/* NOTE: navbar text home*/
#nav-item-home-text{
	margin-top: -200px;
}

/* NOTE: 나비바 옆에 남는 버그 제거 */
.navbar-nav{
	margin: 0px 0px;
	padding: 0px 0px;
	margin-left: 43%;
	margin-top: 100px;
	overflow:hidden;
}

/* NOTE: navbar li a text color */
.navbar-nav > li > a {
	margin-top: -13px;
  color: rgb(31, 43, 83) !important;
}

/* NOTE: navbar li a text hover color */
.navbar-nav :hover {
  color: rgb(187, 195, 206) !important;
  transition: .6s;
}

/* NOTE: navbar fonts 간격 */
.nav-item{
	margin-top: 100px;
  margin-left: 30px;
}


/* NOTE: index CSS */
/* NOTE: top img */
#index_top_img{
	background: url(../img/index/index_top.jpg) no-repeat center;
	position: relative;
	height: 100px;
	overflow: hidden;
	background-size: cover;
	background-color: rgba(0, 0, 0, .7);
  background-blend-mode: overlay;
}

/* NOTE: main_banner_text css*/
.main_banner_text{
  text-align: center;
  word-spacing : 5px;
  font-size: 40px;
  line-height:48px;
  animation: fadein 3s 2s linear;
  animation-fill-mode:backwards;
}

/* NOTE: 인삿말 CSS 및 애니메이션  */
#first_main_banner_text1{
  padding-top: 120px;
  animation: fadein 3s 1s linear;
  animation-fill-mode:backwards;
}

#first_main_banner_text2{
  animation: fadein 3s 1.5s linear;
  animation-fill-mode:backwards;
}

#first_main_banner_text3{
  animation: fadein 3s 2s linear;
  animation-fill-mode:backwards;
}

/* NOTE:  container CSS*/
.container{
	max-width: 2100px;
	overflow: hidden;
}


/* NOTE:  bottom container CSS*/
.text-center{
  height:130px;
  background-color:RGB(51, 54, 69);
  text-align: center;
}

/* NOTE:  bottom container text CSS*/
.text-center p{
  font-family: 'Mulish', sans-serif;
  word-spacing : 5px;
	margin-top: 40px;
  color:grey;
}
/* NOTE:  본문 css */
.row{
	font-family: 'Signika Negative', sans-serif;
	word-spacing : 5px;
	line-height:35px;
	font-size: 20px;
	padding: 0 15%;
}

#top-intro{
	opacity: 0;
	transition: opacity .4s ease-in-out;
}
#index_news{
	opacity: 0;
	transition: opacity .4s ease-in-out;
	margin-top:110px;
}
#index_news a {
	color: #1a1a1a;
	text-decoration: none;
	font-weight:600;
}
#index_news :hover{
	color: orange;
	transition: .4s;
}
/* NOTE: navbar 1400보다 작을때 적용 */
@media only screen and (max-width: 1650px) {
	.container-fluid{
		margin-left: -13%;
		width: 120%;
	}

	.pull-left img{
		margin-left: 15vw;
	}
	.navbar-nav > li > a {
		letter-spacing: 1px;
		margin-left: -10px;
	}
	.container{
		height: 4500px;
	}
	.navbar-nav{
		margin-left: 53vw;
	}
}

@media only screen and (max-width: 1430px) {
	.pull-left img{
		margin-left: 15vw;
	}
	.navbar-nav > li > a {
		letter-spacing: 5px;
		margin-left: -10px;
	}
	.navbar-nav{
		margin-left: 53vw;
	}
}
@media only screen and (max-width: 1390px) {
	.pull-left img{
		position:absolute; left:0; right:0; top:0; bottom:30px; margin:auto;
	}
	.navbar-nav{
		position: relative;
		margin:0 auto;
		margin-top: 270px;
		left: 50px;
	}
}
/* NOTE: navbar 높이  노트북 이상 조정*/
@media only screen and (min-width: 991px) {
   .navbar {
     height: 250px ;
  }
	#img_ajou_eng_name{
		display: none;
	}
}

	/* NOTE: navbar 991보다 작을때 적용 */
@media only screen and (max-width: 991px) {
	.pull-left img{
		position:relative;
		margin:0 auto;
		margin-top: 270px;
		left: 50px;
	}
	#img_center_logo{
		width: 500px;
		left: -95px
	}
	#img_ajou_eng_name{
		top:50px;
	}
	.navbar-toggler{
 		margin-top: 500px;
	}
	.nav-link{
		text-align: left;
	}
	.navbar-nav{
		margin-top: 0px;
		margin-left: 50px;
		width: 80%;
	}
	.navbar-nav li{
		margin-top: 50px;
	}
	.nav-item a{
		font-size: 15px;
		font-family: 'Oxygen', sans-serif;
	}
	#index_infomation{
		font-size: 15px;
	}
	.pull-left{
	  width: 0px;
		margin-left: 40%;
	}
	.pull-left img{
		margin-top: 100px;
	  margin-left: 0px;
	  width: 220px;
	}
	.row{
		font-size:14px;
		margin-left: -8vw;
		word-spacing : 0px
	}
}
@media only screen and (max-width: 750px) {
	.pull-left img{
		left: 50px;
	}
	#img_center_logo{
		width: 400px;
	}
	#img_ajou_eng_name{
		left: 10px;
	}
	.main_banner_text{
		font-size: 30px;
	}
}
@media only screen and (max-width: 595px) {
	#img_center_logo{
		left: -70px;
		width: 350px;
	}
	#img_ajou_eng_name{
		width: 200px;
		left: 10px;
	}
}
/* NOTE: navbar 500보다 작을때 적용 (cellphone) */
@media only screen and (max-width: 529px) {
	#img_center_logo{
		left: -120px;
		top: -70px;
		width: 200px;
		z-index: 2;
	}
	.container-fluid{
		height: 150px;
		padding-right: 0;
	}
	#navbarText{
		margin-top: -320px;
		width: 100vw;

		background-color: white;
		z-index: 1;
	}
	#img_ajou_eng_name{
		display: none;
	}
	.pull-left{
			margin-left: 35%;
	}
	.main_banner_text{
		font-size: 22px;
	}
	.navbar-toggler{
		width: 30px;
		margin-right: 20px;
		margin-top: -40px;
		z-index: 2;
	}
	.navbar-nav{
		margin-left: 0px;
		margin-top: 120px;
	}
	.navbar-toggler span{
		width: 22px;
		margin-left: -9px;
	}
	.row{
		font-size:12px;
		margin-left: -18vw;
		word-spacing : 0px;
		margin : 0px 0px;
		padding: 0px 0px ;
	}
}

@media only screen and (max-width: 455px) {
	#img_center_logo{
		left: -100px;
	}
}


@media only screen and (max-width: 300px) {
	.pull-left{
			margin-left: 50px;
	}
	.navbar-toggler{
		margin-top: 550px;
	}
	#img_center_logo{
		width: 200px;
		left: -20px;
	}
	.navbar-toggler{
		margin-top: -40px;
		margin-right: 10px;
	}
}

/* NOTE: MEMBERS CSS */
/* NOTE: top img media query css */
#members_top_img{
	background: url(../img/members/member_img.jpg) no-repeat center;
	position: relative;
	height: 100px;
	overflow: hidden;
	background-size: cover;
}

h2{
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.diractor_text{
	margin-left: -5px;
}
.diractor_text span{
	font-size:20px;
	margin-left: -215px;
}
.diractor_text_under_line{
	height:3px;
	width:70px;
	background-color:#006666;
	margin-top:10px;
}

.memeber_infomation{
	margin-left: 7%;
}

.team-row{
		max-width: 1442px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0;
		animation: fadein 2s .2s linear;
		animation-fill-mode:backwards;
}

.member{
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
}


.member:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transform: translateY(-20px);
}

.member img{
    display: block;
    width: 150px; height: 150px;
    object-fit: cover;
    border:4px solid  #6b7b7b;
    border-radius: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 500px) {

}

/* NOTE: reseraches css */
.reseraches{
	height: 98%;
	background-color: rgba(211, 206, 203, .3);
	margin-bottom:  50px;
	display: flex;
	flex: 3px 1fr;
	box-shadow: 0  5px 7px darkgray;
	border-radius: 10px;
	animation: fadein 2s .2s linear;
	animation-fill-mode:backwards;
}

.reseraches_with{
	padding-top: 50px;
	padding-left: 20px;
	color: black;
}
.reseraches_subjact_titles{
	color: black;
	font-size: 25px;
	padding-top: 50px;
	margin-left: 20px;
}
.reseraches_subjact_texts{
	color: black;
	padding: 0 20px;
	padding-top: 10px;
	font-size:15px;

}
.reseraches_subjact_imgs img{
	padding: 0 20px;
	padding-top: 20px;
	max-width: 53%;
}
/* NOTE: navbar 1360보다 작을때 적용 */
@media only screen and (max-width: 1370px){
	#reseraches_info_3 p{
		font-size: 11px;
	}
}

@media only screen and (max-width: 1020px){
	.reseraches_subjact_titles{
		font-size: 17px;
		margin-top: -30px;
	}
	.reseraches_with{
		margin-top: -30px;
	}
	.reseraches_subjact_texts{
		font-size: 12px;
	}
	.reseraches_subjact_imgs img{
		max-width:100%;
	}
}
@media only screen and (max-width: 800px){
	.reseraches_subjact_texts {
		line-height: 30px;
	}
	.reseraches_subjact_imgs img{
		margin-top: 50px;
	}

}
@media only screen and (max-width: 650px){
	#reseraches_info_3 {
		line-height: 20px;
	}
}


@media only screen and (max-width: 412px){
	#reseraches_info_3 p{
		font-size: 8px;
	}
}
@media only screen and (max-width: 384px){
	#reseraches_info_3 p{
		line-height: 25px;
	}
}

@media only screen and (max-width: 328px){
	#reseraches_info_3 p{
		font-size: 5px;
	}
}

/* NOTE: Publications css */
.publications_top_banner{
	color: white;
	font-size:70px;
}
#background_container_publications{
	height:100%;
	margin-bottom: 100px;
	background-color:white;
}
.publications_container{
	height:100%;
	max-width:100%;
	margin-top:10px;
	animation: fadein 2s .2s linear;
	animation-fill-mode:backwards;
}
.publications_elements{
	font-size: 18PX;
}
.publications_elements li{
	margin: 0px 200px;
	margin-bottom: 30px;
	text-decoration: none;
	color:gray;
	display: flex;
	flex: 10px 1fr;
}
.publications_a{
	padding: 0;
	text-decoration:none;
	color:black;
}

.publications_elements li>a:hover{
	color:orange;
	transition: .5s;
	pointer-events: all;
	cursor: pointer;
}


@media only screen and (max-width: 1445px) {

	.publications_elements{
		font-size: 15PX;
	}
}

@media only screen and (max-width: 1335px) {

	.publications_elements li{
		margin: 30px 100px;
	}
}

@media only screen and (max-width: 1085px) {

	.publications_elements li{
		margin: 20px 50px;
	}
	#publications_col{
		margin-left: 25px;
	}
}

@media only screen and (max-width: 792px) {
	.publications_elements{
		font-size: 13PX;
	}
	.publications_elements li{
		margin: 10px 50px;
	}
}
@media only screen and (max-width: 784px) {
	.publications_elements li{
		margin: 8px 50px;
	}
}
@media only screen and (max-width: 744px) {
	.publications_elements li{
		margin: 10px 0px;
	}
}
@media only screen and (max-width: 658px) {
	.publications_elements li{
		margin: 8px 0px;
	}
}

@media only screen and (max-width: 596px) {
	.publications_elements{
		font-size: 12PX;
	}
}

@media only screen and (max-width: 534px) {

	.publications_container{
		margin: 0 0;
	}
	#publications_col{
		margin: 0 0;
	}
}

/* NOTE: contact css */
#contact_background{
	width:100px;
	height:700px;
	background-color: RGB(40, 44, 52);
	margin-top:0px;
}

form{
  margin-top:-600px;
	margin-bottom: 300px;
	padding-bottom: 50px;

}

/* NOTE: form 들의 css */
.form_control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
}

#contact_form input{
  height: 45px;
}

#contact_form .submit{
  background: transparent;
  border-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

#contact_form .submit:hover{
  color: black !important;
  transition: 0.3s;
}



/* NOTE: navbar 1010보다 작을때 적용 */
@media (max-width: 1010px){
	.form_control {
			width: 700px;
	}
}
@media (max-width: 1024px){
	.form_control {
		width: 600px;
	}
}
@media (max-width: 768px){
	.form_control {
			width: 400px;
		}
	#contact_background{
		width: 80vw;
	}
}
@media (max-width: 570px){
	.form_control {
	    width: 300px;
		}
	#contact_background{
		width: 100vw;
	}
}

/* NOTE: datahub css */
#datahub_container{
	height: 100%;
	padding-bottom: 100px;
}
.datahub_info{
	margin-top: 70px;
	display: grid;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 0.8rem;
	background-color: transparent;
}
.datahub_info table{
	margin-bottom: 150px;
}
table{
	border-collapse: collapse;
	box-shadow: 0 2px 7px darkgray;
	background-color: transparent;
	text-align: left;
	overflow: hidden;
	border-radius: 10px;
}
.data_Subject{
	text-transform:uppercase;
	font-size: .8rem;
	font-weight: 900;
	background-color: rgba(225, 229, 234, 0.75);
}
td{
	padding: 1rem 2rem;
	box-shadow: 0 -1px 1px darkgray;
	font-family: 'Signika Negative', sans-serif;
}
.datahub_info{
	font-size: 0.9rem;
}
.buttons {
    margin: 10%;
    text-align: center;
}
.btn-hover {
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover:focus {
    outline: none;
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 5px 0 rgba(45, 54, 65, 0.75);
}
@media only screen and (max-width: 529px) {
	.datahub_info{
		font-size: 0.7rem;
	}
}
@media only screen and (max-width: 300px) {
	.datahub_info{
		font-size: 0.4rem;
	}
	td{
		padding-left: 0.5rem;
	}
}
/* NOTE: animation */
@keyframes fadein {
  0%{
    opacity: 0;
    margin-right: 0px;
  }
  20%{
    opacity: 1;
    margin-right: 0px;
  }
  80%{
    opacity: 1;
    margin-right: 0px;
  }
  100%{
    opacity: 1;
  }
}
